@tailwind base;
@tailwind components;
@tailwind utilities;

/* .container{
    border: 2px solid red;
    width: 100%;
    height: 100vh;
    display: grid;
  grid-template-columns: 1000px 1fr;
  column-gap: 34px;
  box-sizing: border-box;
  margin-right: 0;
  /* padding-top: 130px; */
/* } */

/* .first{
 border: 2px solid blue;
}

.second{
border: 2px solid black;
}

.nav{
    border: 2px solid green;
} */ 

.main_container{
    /* border: 2px solid red; */
    /* width: 100%; */
    height: 100vh;
    display: flex;
    flex-direction: column;

}




