@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body{
  
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  
}

.time{
    @apply border-2 border-black  ml-80 pl-2 md:mt-0
    text-center h-auto justify-center gap-8 max-h-full w-auto max-w-full

    
        /* @apply border-2 border-black flex ml-4 md:ml-0 pl-2 mt-4 md:mt-0
        text-center h-auto justify-center gap-1; */
      }
